streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
python-dotenv==1.0.1
requests==2.32.3
beautifulsoup4==4.12.3
pydeck==0.9.1
Pillow==10.3.0

# Local only (ignored on cloud)
selenium==4.16.0
undetected-chromedriver==3.5.5
webdriver-manager==4.0.1
